# Environment
.env
.env.local
.env.development
.env.production

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
out/

# Expo / React Native
.expo/
.expo-shared/
expo-env.d.ts

# Java / Maven
target/
*.class
*.jar
*.war
*.log
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db