# Environment
.env
.env.local
.env.development
.env.production

# Node
# dependencies
/node_modules
/mobile/node_modules
/web/node_modules

venv/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
out/
.gradle/

# Expo / React Native
.expo/
.expo-shared/
expo-env.d.ts

# Java / Maven
target/
*.class
*.jar
*.war
*.log
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# APK
F5chat.apk
*.apk